* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: bold;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: rgba(31, 31, 40, 0);
  color: #dedede;
}

#workspaces button {
  padding: 8px;
  color: #555869;
  margin-right: 5px;
}

#workspaces button.active {
  color: #dedede;
}

#workspaces button.focused {
  color: #dedede;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #cdd6f4;
  color: #11111b;
  border-radius: 10px;
}

#window,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#temperature,
#temperature.cpu,
#custom-gpu-temp,
#disk,
#memory,
#workspaces,
#tray,
#backlight {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 2px 0px;
  margin-top: 3px;
  /* border: 1px solid #181825; */
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#memory {
  border-radius: 10px 0px 0px 10px;
  padding: 5px 5px 5px 5px;
}

#cpu {
  border-left: 0px;
  border-right: 0px;
}

#temperature.cpu {
  border-left: 0px;
  border-right: 0px;
}

#temperature.nvme {
  border-left: 0px;
  border-right: 0px;
}

#custom-gpu-temp {
  border-left: 0px;
  border-right: 0px;
}

#disk {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#window {
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#clock {
  color: #dedede;
  border-radius: 10px 10px 10px 10px;
  margin-left: 5px;
  border-right: 0px;
}

#network {
  color: #dedede;
  border-radius: 10px 0px 0px 10px;
}

#bluetooth {
  color: #dedede;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: #dedede;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #dedede;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 5px;
}

#battery {
  color: #dedede;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}
